@using MiddleMan.Web.Infrastructure.Identity
@{
  ViewBag.Title = "Home page";
}

<div class="text-center">
  <h1 class="display-4" style="margin-bottom: 100px">Welcome</h1>

  <div id="clients-container"></div>
</div>

@if (User?.Identity?.IsAuthenticated ?? false)
{
  <script>
    (async () => {
      const clientsResult = await fetch("@Url.Action("GetAll", "WebSockets")");
      const clientsContent = await clientsResult.text();

      const container = document.getElementById("clients-container");
      container.innerHTML = clientsContent;
      nodeScriptReplace(container);
    })()
  </script>
}