<div>
  <div class="form-container">

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Client name" aria-label="Client name" aria-describedby="basic-addon2" id="client-name">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="client-token-submit" data-target="@Url.ActionLink("PostClientLogin", "Authentication")">Generate</button>
      </div>
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Client token</span>
      </div>
      <textarea rows="4" class="form-control" aria-label="Client token" id="client-token-response" disabled></textarea>
    </div>
  </div>
</div>

<script src="/js/app/Authentication/ClientLogin.js" type="module"></script>