@model MiddleMan.Web.Controllers.WebSockets.Model.WebSocketClientModel

<div class="card">
  <h5 class="card-header">@Model.Name</h5>
  <div class="card-body">
    <div class="accordion" id="accordion-@Model.Name">
      @foreach (var method in Model.Methods)
      {
        <div class="accordion-item client-method" data-target-url="/WebSockets/@Model.Name/@method.Name">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@Model.Name-@method.Name" aria-controls="collapse-@Model.Name-@method.Name">
              @method.Name
            </button>
          </h2>
          <div id="collapse-@Model.Name-@method.Name" class="accordion-collapse collapse" aria-labelledby="heading-@method.Name" data-bs-parent="#accordion-@Model.Name">
            <div class="accordion-body">
              @if (method.Arguments?.Count > 0)
              {
                {
                  ViewBag.DisableInputs = false;
                }
                <h5>Arguments</h5>
                <div class="card">
                  <ul class="list-group list-group-flush">
                    @foreach (var argument in method.Arguments)
                    {
                      <li class="list-group-item argument" style="margin-bottom: 0px !important">
                        @await Html.PartialAsync("ClientMethodArgument", argument)
                      </li>
                    }
                  </ul>
                </div>
                <br />
              }
              <button type="button" class="btn btn-secondary call-btn">Call</button>
              @if (method.Returns != null)
              {
                {
                  ViewBag.DisableInputs = true;
                }
                <br />
                <h5 style="margin-top: 10px">Result</h5>
                <div class="card">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item result" style="margin-bottom: 0px !important">
                      @await Html.PartialAsync("ClientMethodArgument", method.Returns)
                    </li>
                  </ul>
                </div>
              }
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>